<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time chat app using socket ip</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
      <img class="logo" src="logo.png" alt="" srcset="">
    <h1>Welcome to ichat</h1>
    </nav>
    <div class="container">
    <div class="message left">Bot: okijuhygt</div>
        <div class="message right">You: okijuhygt</div>

    </div>
    <div class="send">
       <form action="#" id="sendcontainer">
              <input type="text" id="messgaeimp" name="messgaeimp" placeholder="Send message">
              <input type="submit" class="btn" value="Send">
       </form>
    </div>
</body>
</html>